# Environment
.env/
.vscode/
openpecha.egg-info/
.pytest_cache/

# data
**/data/*
**/__pycache__/
usage/input/
usage/layer_output/
output/
opfs/
resources/
error_logs/

# scripts
usage/

# Deployment
build/
dist/

# test
.coverage

# Config
**/config/*
.idea/*
openpecha/config.py
**/.openpecha